@model List<Luc_OnlineShop.Models.CartItem>




<div class="tag-list">
	<ul class="icon1 sub-icon1 profile_img"></ul>
	<ul class="icon1 sub-icon1 profile_img">
		<li>
			<a class="active-icon c2" href="gio-hang"> </a>
			@*<ul class="sub-icon1 list">
					<li><h3>No Products</h3><a href=""></a></li>
					<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
				</ul>*@
		</li>
	</ul>
	<ul class="last"><li><a href="gio-hang">Cart(@Model.Count)</a></li></ul>
</div>
