
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" >
	Bạn vừa đặt hàng thành công!!!<br> Sẽ có nhân viên xác thực đơn hàng <br>Vui lòng kiểm tra mail và chú ý điện thoại ^_^
</div>

