
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.gt{
		margin-left: 66px;
	}
	h3{
		margin-top:10px;
		font-size:20px;
		color:red;
		font-weight: bold;
		font-style:initial;
	}
</style>
<div class="gt">
	<p>Founded in 1989, ASUS is a multinational consumer electronics and hardware computer company based in Taiwan. Always committed to creating smart products for the present and future life, ASUS is the No. 1 gaming and motherboard brand in the world, and the top 3 leading consumer laptop vendors. </p>
	<p style="margin-top:10px"> ASUS has become widely known in North America since its PC industry revolution in 2007 with its Eee PC ™. Today, the company has become a pioneer in new mobile trends with the ASUS ZenFone ™ series, and is rapidly developing virtual products and augmented reality as well as IoT devices (Internet of Things) and Intelligent robot technology. Most recently, ASUS has launched Zenbo, a smart family robot designed to support, entertain and accompany families. </p>
	<p style="margin-top:10px">
		In 2015 and 2016, Fortune has recorded ASUS as one of the world's most popular Companies, and for the past four years, Interbrand has ranked ASUS as Taiwan's most valuable international brand. Loan. The company has more than 17,000 employees, including a world-class Research & Development team. With innovative efforts and a commitment to quality for smart technology products both now and in the future, ASUS has won 4385 awards and a turnover of about US $ 13.3 billion in 2016.
	</p>
	<p>
		<h3>• 2018 </h3>
		Named among World's Most Admired Companies by Fortune magazine<br />
		Named among Top 100 Global Technology Leaders by Thomson Reuters<br />
		Named among Top Regarded Companies by Forbes<br />
		Taiwan Excellence:35 awards — ZenFone AR and Design Curve MX38VC win Gold<br />
		CES:7 awards<br />
		iF:18 awards
	</p>
	<p>
		<h3>• 2017 — 4,511 awards</h3>
		Named among Top Regarded Companies by Forbes<br />
		Named No. 1 international brand from Taiwan, by Interbrand<br />
		Taiwan Excellence:44 awards<br />
		CES:8 awards<br />
		iF:15 awards<br />
		Computex:19 awards — 1 Best Choice of Year, 3 Best Choice Golden, 4 Best Choice, 12 d&i
		Red Dot:9 awards<br />
		Good Design:15 awards<br />
	</p>
	<p>
		<h3>• 2016 — 4,385 awards</h3>
		Named among World's Most Admired Companies by Fortune magazine<br />
		Named No. 1 international brand from Taiwan, by Interbrand
		Channel NewsAsia Innovation Luminary award<br />
		Taiwan Excellence:47 awards — ZenFone 2 Deluxe and PG348Q gaming monitor win Gold<br />
		CES:5 awards<br />
		iF:13 awards<br />
		Computex:16 awards — 4 Best Choice, 12 d&i<br />
		Red Dot:15 awards — a new company record for wins during a <br />Red Dot Design event<br />
		Good Design:9 awards<br />
	</p>
	<p>
		<h3>• 2015 — 4,365 awards</h3>
		Named among World's Most Admired Companies by Fortune magazine<br />
		Named No. 1 international brand from Taiwan, by Interbrand<br />
		Received Medal of Diplomatic Contribution from Taiwan’s Ministry of Foreign<br /> Affairs, in recognition of ASUS Foundation work to reduce the digital divide in Asia-Pacific and Central and South America<br />
		Ranked No. 2 in the 2015 Taiwan Innovative Enterprises Survey, organized by the Ministry of Economic Affairs<br />
		ASUS graphics cards sales reach 125 million, and lead industry with 8,000+ global awards since 1996<br />
		Taiwan Excellence:40 awards — ROG G20 gaming desktop wins Gold and PA328Q wins Silver<br />
		CES:7 awards<br />
		iF:10 awards<br />
		Computex:14 awards — 6 Best Choice, 8 d&i<br />
		Red Dot:11 awards<br />
		Good Design:13 awards<br />
	</p>
	<p>
		<h3>• 2014 — 4,326 awards</h3>
		Named No. 1 international brand from Taiwan, by Interbrand<br />
		ASUS-powered supercomputer ranks No. 1 in Green500 list<br />
		Golden Pin Design:11 awards — ASUS ZenBook UX301 laptop wins prestigious <br />Best Design of the Year<br />
		Taiwan Excellence:50 awards — PadFone mini 4.3 wins Gold<br />
		CES:17 awards<br /><br />
		iF:11 awards<br />
		Computex:22 awards — 5 Best Choice, 17 d&i<br />
		Red Dot:4 awards<br />
		Good Design:17 awards — ZenBook UX305 laptop and S1 mobile LED projector named among Good Design Best 100<br />
	</p>
	<p>
		<h3>• 2013 — 4,256 awards</h3>
		Named No. 1 international brand from Taiwan, by Interbrand<br />
		Named among top three Innovative Companies in Taiwan by Digital Times<br />
		Ranked No. 1 in Laptop Category among Ideal Brands for Business Elites by Business Today<br />
		ASUS Nexus 7 becomes first Taiwan-built Tablet PC to win a Global Mobile <br />Award during Mobile World Congress<br />
		Taiwan Excellence:41 awards — PadFone 2 wins Gold<br />
		CES:15 awards<br />
		iF:9 awards<br />
		Computex:13 awards — 3 Best Choice, 10 d&i<br />
		Red Dot:8 awards<br />
		Good Design:10 awards<br />
	</p>
	<p>
		<h3>• 2012 — 4,168 awards</h3>
		Awarded HSPM certificate from IECQ — world’s 1st computer company to receive the award<br />
		ROG brand received AnandTech’s Editor’s Choice Gold award<br />
		Ranked No. 1 in Laptop Category among Ideal Brands for Business Elites by Business Today<br />
		Taiwan Excellence:50 awards — EeePad TF201 and ZenBook UX21 win Gold<br />
		CES:6 awards<br />
		iF:10 awards<br />
		Computex:6 awards — 3 Best Choice, 3 d&i<br />
		Red Dot:9 awards<br />
		Good Design:23 awards<br />
	</p>
	<p>
		<h3>• 2011 — 3,886 awards</h3>
		Ranked No. 1 in Laptop Category among Ideal Brands for Business Elites by Business Today<br />
		Received Excellence in Efficient Product Design award during Energy Star <br />Certification meeting in Washington D.C.<br />
		ASUS-designed Super-Hybrid Engine with energy-saving technology is recognized by U.S. Environmental Protection Agency<br />
		Received Super Green award in the category of Information Industry, in new green brands ranking in Taiwan<br />
		Taiwan Excellence:45 awards<br />
		CES:8 awards<br />
		iF:10 awards — more than any competitor<br />
		Computex:5 Best Choice awards<br />
		Red Dot:6 awards<br />
		Good Design:6 awards<br />
	</p>
	<p>
		<h3>• 2010 — 3,213 awards</h3>
		Ranked No. 1 in Laptop Category among Ideal Brands for Business Elites by Business Today<br />
		Named among InfoTech 100 by Business Weekly<br />
		Named among the top three brands during the Best Taiwan Global Brands Award ceremony<br />
		ASUS G51 3D notebook received 2010 Taipei International Computer Product of the Year award<br />
		Presented with the 2010 Top-10 Corporate Citizenship award by CommonWealth Magazine<br />
		Taiwan Excellence:36 awards — Eee Keyboard PC wins Gold<br />
		CES:5 awards<br />
		iF:17 awards, the Chiclet keyboard wins the Gold Medal of iF design in Germany.<br />
		Computex:4 Best Choice — G51 3D notebook wins Best Choice of the Year award and Eee PC™ 1015PE wins Green ICT award<br />
		Red Dot:5 awards<br />
		Good Design:12 awards<br />
	</p>
	<p>
		<h3>• 2009 — 3,268 awards</h3>
		Ranked No. 1 in Laptop Category among Ideal Brands for Business Elites by Business Today<br />
		Ranked No. 1 for product service, quality, and innovation in Asian Business 200 by Wall Street Journal in Asia<br />
		Named among InfoTech 100 by Business Weekly<br />
		Ranked No. 1 among top 24 in Consumers’ Ideal Brand survey by Management Magazine<br />
		First technology company in the world to receive 3rd-party validation of Environmental Product Declaration (EPD) and carbon footprint (carbon neutrality) certification<br />
		First company in Taiwan to meet U.S. EPEAT Gold registration requirement for notebooks<br />
		First computer brand in the world to receive the EU Flower certification<br />
		Achieved Gold Standard status for green products from CNN and TIME Magazine
		ASUS Bamboo U6V named among Green Design 100 by TIME Magazine<br />
		Taiwan Excellence:53 awards — Eee PC S101 wins Gold and ASUS Bamboo U6V and P552w smartphone wins Silver<br />
		iF:10 awards<br />
		Computex:3 Best Choice awards<br />
		Red Dot:7 awards<br />
		Good Design:3 awards
	</p>
	<p>
		<h3>• 2008 — 3,056 awards</h3><br />
		Ranked No. 1 in Laptop Category among Ideal Brands for Business Elites by Business Today<br />
		Named among InfoTech 100 by Business Weekly<br />
		Eee PC named product of the year by Forbes and Stuff Magazine in the United Kingdom<br />
		Eee PC named the No. 1 trending product by Dime Japanese lifestyle and fashion magazine<br />
		Taiwan Excellence:51 awards — Eee PC and R700t navigator win Gold, and 6 products win Silver<br />
		iF:14 awards<br />
		Computex:6 Best Choice awards<br />
		Red Dot:4 awards<br />
		Good Design:3 awards
	</p>
	<p>
		<h3>• 2007 — 1,06 awards</h3>
		Named among InfoTech 100 by Business Weekly<br />
		Recognized by Business Next magazine as one of the Top 10 international brands from Taiwan<br />
		Ranked No. 1 for Environmental Protection by Okeom international institute for environmental protection<br />
		Received Sustainability Award from Minister of Taiwan Executive Yuan
		Taiwan Excellence:39 awards<br />
		iF:11 awards<br />
		Red Dot:3 awards<br />
		Good Design:5 awards<br />
	</p>
</div>